<div class="outer">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ login.username }} | {{ id }}</h2>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ login.password }}</h2>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ login.comments }}</h1>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ login.established }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 container">
      <div class="btn-group" appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Login <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="nav-item p-3"><a style="cursor: pointer;" (click)="onEditLogin()">Edit Login</a></li>
          <li class="nav-item p-3"><a style="cursor: pointer;" (click)="onDeleteLogin()">Delete Login</a></li>
        </ul>
      </div>
    </div>
  </div>  
</div>
